{{{header}}}

<div class="body">
    <img width="1px" height="1px" src="{{trackingPixel}}" alt="Read ?"/>

    <h3>Bonjour {{ firstname }} !</h3>
    <div class="first-paragraph">
        <p>
            Votre demande de liaison avec {{ doctor }} {{ accepted }}
        </p>
    </div>
    <div>
        <p>En cas de problème, n'hésitez à contacter le service client : {{ emailService }}</p>
    </div>
</div>
<style>
    .body {
        color: #004396;
        word-wrap: break-word;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
</style>
{{{footer}}}