{{{header}}}

<div class="body">
    <img width="1px" height="1px" src="{{trackingPixel}}" alt="Read ?"/>

    <h3>Bonjour {{ firstname }} !</h3>
    <div class="first-paragraph">
        <p>
            Nous sommes ravi de vous voir revenir !
        </p>
        <p class="important-information" >
            Votre annulation de suppression a bien été prise en compte.<br/>
        </p>
    </div>
    <div>
        <p>En cas de problème, n'hésitez à contacter le service client : {{ emailService }}</p>
    </div>
</div>
<style>
    .body {
        color: #004396;
        word-wrap: break-word;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .body .important-information{
        font-size: 1.3rem;
        font-weight: bold;
    }
</style>
{{{footer}}}