{{{header}}}

<div class="body">
    <img width="1px" height="1px" src="{{trackingPixel}}" alt="Read ?"/>

    <h3>Bonjour {{ firstname }} !</h3>
    <div class="first-paragraph">
        <p class="important-information" >
            Votre mot de passe a été modifié avec succès.
        </p>
        <p>
            Si cela n'a pas été fait par vous, merci de contacter au plus vite le service client : {{ emailService }}
        </p>
    </div>
</div>
<style>
    .body {
        color: #004396;
        word-wrap: break-word;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .body .important-information{
        font-size: 1.3rem;
        font-weight: bold;
    }
</style>
{{{footer}}}