{{{header}}}

<div class="body">
    <img width="1px" height="1px" src="{{trackingPixel}}" alt="Read ?"/>

    <h3>Bonjour {{ firstname }} !</h3>
    <div class="first-paragraph">
        <p>
            Nous sommes triste de vous voir partir...
        </p>
        <p class="important-information" >
            Votre demande de suppression a bien été prise en compte.<br/>
            Toutes les données personnelles de votre compte seront totalement supprimées dans 30 jours.
        </p>
        <p>
            Cela vous laisse du temps pour changer d'avis !<br/>
            Pour annuler cette demande, il vous suffit de retourner sur le bouton qui vous a permis de faire cette demande. Cette fois ci il vous servira d'annulation.
        </p>
    </div>
    <div>
        <p>En cas de problème, n'hésitez à contacter le service client : {{ emailService }}</p>
    </div>
</div>
<style>
    .body {
        color: #004396;
        word-wrap: break-word;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .body .important-information{
        font-size: 1.3rem;
        font-weight: bold;
    }
</style>
{{{footer}}}