{{{header}}}

<div class="body">
    <img width="1px" height="1px" src="{{trackingPixel}}" alt="Read ?"/>

    <h3> Bonjour {{ firstname }} !</h3>
    <div class="first-paragraph">
        <p>
            Pour nous assurer que c'est bien vous qui cherchez à vous connecter à l'application Diwe nous mettons en place un dispositif à deux facteurs.
        </p>
        <p>
            Pour vous connecter à l'application Diwe il ne reste plus qu'à entrer le code ci-dessosu dasn votre application !
        </p>
    </div>
    <div class="second-paragraph code">
        <h4>{{code}}</h4>
    </div>
    <div class="third-paragraph">
        <p>ce code n'est valable que 10 minutes.</p>
    </div>
    <div class="last-paragraph">
        <p>Ce dispositif de sécurité vise à sécuriser au mieux vos informations personnelles.</p>
        <p>Chez Diwe, votre sécurité est notre priorité.</p>
    </div>
</div>
<style>
    .body {
        color: #004396;
        word-wrap: break-word;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .body .code{
        padding: 1rem;
        border-radius: 5px;
        font-size: 2rem;
        background-color: #FF914D;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }
    .body .code h4{
        margin: 0;
    }

</style>
{{{footer}}}