{{{header}}}

<div class="body">
    <img width="1px" height="1px" src="{{trackingPixel}}" alt="Read ?"/>

    <div class="first-paragraph">
        <p>
            {{body}}
        </p>
    </div>
    <div class="support">
        <p>En cas de problème, n'hésitez à contacter le service client : {{ emailService }}</p>
    </div>
</div>
<style>
    .body {
        color: #004396;
        word-wrap: break-word;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .body .important-information{
        font-size: 1.3rem;
        font-weight: bold;
    }
    .body .support{
        padding-top: 4rem;
        font-size: .8rem;
    }
</style>
{{{footer}}}