{{{header}}}

<div class="body">
    <img width="1px" height="1px" src="{{trackingPixel}}" alt="Read ?"/>

    <h3>Bonjour {{firstname }} !</h3>
    <div class="first-paragraph">
        <p>
            Félicitation, votre compte a été validé avec succès !
        </p>
        <p>
            Vous pouvez désormais vous connecter à votre compte sur Diwe !
        </p>
    </div>
    <div>
        <p>Lors de la connexion, un code vous sera envoyé par email, merci de bien le rentrer dans l'application pour vous connecter. Ceci à pour but de sécuriser au plus votre compte et vos informations personnelles</p>
        <p>Si toute fois vous avez des soucis pour vous connecter, vous pouvez contacter le service d'aide à l'adresse e-mail : {{emailService}}</p>
    </div>
</div>
<style>
    .body {
        color: #004396;
        word-wrap: break-word;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
</style>
{{{footer}}}