{{{header}}}

<div class="body">
    <img width="1px" height="1px" src="{{trackingPixel}}" alt="Read ?"/>

    <h3>Bonjour {{firstname}} !</h3>
    <div class="first-paragraph">
        <p>
            Une erreur s'est produite lors de la validation de votre compte...
        </p>
        <p>
            Nous faisons de notre mieux pour vous aider et vous laissons contacter le service client au mail suivant : {{emailService}}
        </p>
    </div>
    <div>
        <p>En Espérant pouvoir vous aider au mieux !</p>
    </div>
</div>
<style>
    .body {
        color: #004396;
        word-wrap: break-word;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
</style>
{{{footer}}}